.vscode/
test*/

alib-52
Netlist
Report
verdiLog
xcelium.d
irun*
nWaveLog
INCA_libs
Verdi*

*sdf*

*.rc
*.bak
*.history
*.log
novas*

.env*
.venv/

run/

*.so

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# esp-idf
build/
sdkconfig.old
.devcontainer/